:root {
    --primary-color: #333;
    --secondary-color: #eee;
    --border-color: rgb(0 0 0 / 0.2);
    --footer-border: #000;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--footer-border);
    text-align: center;
}